.contact{
    color: white;
    background-image: url(../images/contact\ bg.jpg) ;
}

.contactTitle {
  background-image: url(https://media.giphy.com/media/LShzvtC3Ri1oO7TMHT/giphy.gif);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 78px;
  font-family: "Faceyourfears";
  animation: filling 4s ease forwards;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 50px;
  margin-bottom: 50px;
  cursor: url("../fonts/cursor/curseur-main-pointeur.png"), pointer;
}
.contactContainer {
  padding: 0px 10px 10px 10px;
  margin: -2.1% 15% 1.5% 15%;
  background-color: rgba(0, 0, 0, 0.3);
}
.contactContainer p {
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 24px;
  font-weight: 50;
  font-family: "Mukadua";
}