.background {
  background-image: url(../images/162297.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-flow: wrap row;
  z-index: 20;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.7);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  cursor: url("../fonts/cursor/curseur-souris.png"),pointer;
}
.gameTitle {
  background-image: url(https://media.giphy.com/media/LShzvtC3Ri1oO7TMHT/giphy.gif);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 78px;
  font-family: "Faceyourfears";
  animation: filling 4s ease forwards;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 30px;
  cursor: url("../fonts/cursor/curseur-main-pointeur.png"), pointer;
}
.box {
  padding: 0px 10px 10px 10px;
  margin: -26% 15% 1.5% 15%;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
}
.board{
  display: flex;
  justify-content: center;
  flex-flow: wrap row;
  padding: 10px 10px px 10px;
}

.flip-container {
    perspective: 150px;
    display: inline-block;
    border: 1px solid transparent;
    padding: 4px;
  }
  
  .flip-container.flipped .flipper {
    transform: rotateY(180deg);
  }
  
  .flipper {
    transition: 0.4s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .front,
  .back {
    backface-visibility: hidden;
    position: absolute;
    left: -5px;
    top: 0;
    border-radius: 0px;
    padding: 5px;
  }
  
  .back {
    transform: rotateY(0deg);
  }
  
  .front {
    transform: rotateY(180deg);
    
  }
.outerBox{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 5%;
}

@media screen 
  and (min-width: 1300px) 
  and (max-width:1800px)
  {
.background {
  background-image: url(../images/162297.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-flow: wrap row;
  z-index: 20;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.7);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  cursor: url("../fonts/cursor/curseur-souris.png"),pointer;
}
.gameTitle {
  background-image: url(https://media.giphy.com/media/LShzvtC3Ri1oO7TMHT/giphy.gif);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 58px;
  font-family: "Faceyourfears";
  animation: filling 4s ease forwards;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 30px;
  cursor: url("../fonts/cursor/curseur-main-pointeur.png"), pointer;
}
.box {
  padding: 0px 10px 12px 10px;
  margin: -25.1% 15% 5.6% 15%;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
}
.board{
  display: flex;
  justify-content: center;
  flex-flow: wrap row;
  padding: 0px 10px 0px 10px;
}

.flip-container {
    perspective: 150px;
    display: inline-block;
    border: 1px solid transparent;
    padding: 4px;
  }
  
  .flip-container.flipped .flipper {
    transform: rotateY(180deg);
  }
  
  .flipper {
    transition: 0.4s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .front,
  .back {
    backface-visibility: hidden;
    position: absolute;
    left: -5px;
    top: 0;
    border-radius: 0px;
    padding: 5px;
  }
  
  .back {
    transform: rotateY(0deg);
  }
  
  .front {
    transform: rotateY(180deg);
    
  }
.outerBox{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 5%;
}
  }

