@keyframes filling {
  from {
    background-position: center 10%;
  }
  to {
    background-position: center 40%;
  }
}

.landing {
  background-image: url(../images/landing.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-flow: wrap column;
  z-index: 20;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  cursor: url("../fonts/cursor/curseur-souris.png"), pointer;
}

.landingTitle {
  background-image: url(https://media.giphy.com/media/LShzvtC3Ri1oO7TMHT/giphy.gif);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 78px;
  font-family: "Faceyourfears";
  animation: filling 4s ease forwards;
  line-height: 80px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 3% 0% 10% 0%;
  cursor: url("../fonts/cursor/curseur-main-pointeur.png"), pointer;
}
.container {
  padding: 0px 10px 10px 10px;
  margin: -2.1% 15% 1% 15%;
  background-color: rgba(0, 0, 0, 0.3);
}
.container p {
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 24px;
  font-weight: 50;
  font-family: "Mukadua";
}
.play {
  font-family: "Faceyourfears";
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  margin: 20px;
  cursor: url("../fonts/cursor/curseur-main-pointeur.png"), pointer;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  font-size: 50px;
  background-color: rgb(59, 59, 59);
  text-shadow: -2px -2px rgb(2, 0, 0), 2px 2px rgb(92, 2, 2);
  color: #880000;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 10px;
  border:solid rgb(22, 22, 22);
  box-shadow: 0.2rem 0.1em rgb(26, 0, 0);
  margin-right: auto;
  margin-left: auto;
  margin: 5px;
  height: 100px;
  width: 250px;
  padding: 10px 0 10px 10px;
}

.play:active{
  box-shadow: none;
  position: relative;
  top: 0.2em;
}
.play:hover{
  color: grey;
  background-image: url(https://media2.giphy.com/media/f4IjBQupqojhqQzKk2/giphy.webp?cid=ecf05e47359f10b3851c1e1b53bf759f3008f6e36842309d&rid=giphy.webp);

}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 21px;
  cursor: url("../fonts/cursor/curseur-main-pointeur.png"), pointer;
}
.footer p {
  color: white;
  font-family: "Mukadua";
  font-size: 20px;
  margin: 40px;
  font-weight: bold;
  cursor: url("../fonts/cursor/curseur-main-pointeur.png"), pointer;
}
.footer p:hover {
  color: #880000;
}
.playlist-landing {
  margin-left: -70%;
  margin-top: 0%;
}
@media screen and (max-width: 800px) {
  .playlist-landing {
    margin-left: -35%;
    margin-top: -2.15%;
    padding-top: 20px;
    margin-bottom: 5px;
  }
  .landingTitle {
    background-image: url(https://media.giphy.com/media/LShzvtC3Ri1oO7TMHT/giphy.gif);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 78px;
    font-family: "Faceyourfears";
    animation: filling 4s ease forwards;
    line-height: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 3% 0% 7.9% 0%;
    cursor: url("../fonts/cursor/curseur-main-pointeur.png"), pointer;
  }
}
@media screen and (min-width: 1601px) and (max-width: 1920px) {
  .landing {
    background-image: url(../images/landing.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    flex-flow: wrap column;
    z-index: 20;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 0;
    height: 1057px;
    cursor: url("../fonts/cursor/curseur-souris.png"), pointer;
  }
  .landingTitle {
    background-image: url(https://media.giphy.com/media/LShzvtC3Ri1oO7TMHT/giphy.gif);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 78px;
    font-family: "Faceyourfears";
    animation: filling 4s ease forwards;
    line-height: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    text-align: center;
    margin: -3% 0% 20% 0%;
    cursor: url("../fonts/cursor/curseur-main-pointeur.png"), pointer;
  }
  .container {
    padding: 10px 10px 10px 10px;
    margin: -5% 15% 5% 15%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .container p {
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 24px;
    font-weight: 50;
    font-family: "Mukadua";
    margin-bottom: 50px;
  }
  .play {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: url("../fonts/cursor/curseur-main-pointeur.png"), pointer;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 21px;
    cursor: url("../fonts/cursor/curseur-main-pointeur.png"), pointer;
  }
  .footer p {
    color: white;
    font-family: "Mukadua";
    font-size: 25px;
    margin: 40px;
    font-weight: bold;
  }
  .footer p:hover {
    color: #880000;
  }
  .playlist-landing {
    margin-left: -75%;
  }
}
