.timerContainer > * {
    font-family: 'MyHardboardCut';
    font-size: 20px;
    cursor: url("../fonts/cursor/curseur-souris.png"),pointer;
    color: white;
}
 
.timerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: url("../fonts/cursor/curseur-souris.png"),pointer;
}

 .timer {
    line-height: 30px;
    width: 100px;
    background-color: black;
    color: #D40C22;
    border: solid #D40C22 3px;
    border-radius: 10%;
    background-color: black;
    color:l#D40C22;
    border: solid #D40C22 3px;
    border-radius: 10%;
    font-weight: bold;
    text-align: center;
    cursor: url("../fonts/cursor/curseur-souris.png"),pointer;
}

