.timerContainer > * {
    font-family: 'MyHardboardCut';
    font-size: 20px;
    cursor: url("../fonts/cursor/curseur-souris.png"),pointer;
    color: white;
}
 
.timerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: url("../fonts/cursor/curseur-souris.png"),pointer;
}

 .timer {
    line-height: 30px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D40C22;
    border: solid #D40C22 3px;
    border-radius: 10%;
    background-color: black;
    font-weight: bold;
    text-align: center;
    cursor: url("../fonts/cursor/curseur-souris.png"),pointer;
}

@media screen 
  and (max-width: 767px) {

    .timerContainer > * {
        font-size: 15px;
    }

    .timer {
        width: 40px;
        height: 40px; 
    }

    .timerContainer h3{
        font-size: 12px;
        margin-right: 15px;
    }
}